// Contains all grid-related styles
// Grid is based on flexbox
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 980px;
  padding: 0 20px;
  width: 100%;
}

$gutter: 40px;

.grid-cell {
  margin: 0 ($gutter / 2);
}

.grid-shrink {
  flex-shrink: 1;
}

.grid-grow {
  flex-grow: 1;
}

// Creates grid cells for multiple breakpoints.
// Main breakpoints, from smallest to largest, are:
// Mobile, Tablet, Desktop
@for $i from 1 through 12 {
  .grid-cell-mobile-#{$i} {
    flex: 0 0 calc(#{($i/12) * 100%} - #{$gutter});
  }
}

@include media-tablet {
  @for $i from 1 through 12 {
    .grid-cell-tablet-#{$i} {
      flex: 0 0 calc(#{($i/12) * 100%} - #{$gutter});
    }
  }
}

@include media-desktop {
  @for $i from 1 through 12 {
    .grid-cell-desktop-#{$i} {
      flex: 0 0 calc(#{($i/12) * 100%} - #{$gutter});
    }
  }
}
