// Elements that use background images
.background_image {
  background-position: center center;
  background-size: cover;

  &--top {
    background-position: top;
  }

  &--top_left {
    background-position: top left;
  }
}
