// An image that fills up an entire side of the page
// Only shows on desktop, otherwise reverts to grid

.image_fill {
  &--right {
    padding-bottom: 40px;
  }

  &--left {
    padding-top: 40px;
  }
}

.rounded {
  border-radius: 7px;
}

@include media-desktop {
  .image_fill {
    position: absolute;
    width: auto;

    &--right {
      padding-bottom: 0;
      padding-right: 20px;
      right: 0;
    }

    &--left {
      left: 0;
      padding-left: 20px;
      padding-top: 0;
    }
  }
}
