// Base styles to apply to basic tags
* {
  box-sizing: border-box;
}

code {
  background-color: color(white-a, 5);
  border-radius: 4px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9em;
  opacity: 0.75;
  padding: 0.3em;
}

img {
  display: inline-block;
}
